body {
    background-color: rgb(18, 146, 103);
    color: black;
    font-family: "Dancine Script", cursive;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}

button{
    background-color: rgb(100, 214, 115);
    color: white;

}

.passo {
    display:none;
}

.passo.ativo{
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

